
.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* DONE: Create an animation that increases and decreases the scale of the box  */
@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


.todo-0-container .box{
    animation: scaleUpDown 2s ease-in-out infinite alternate;
    background-color: #283618;
    color: white;
}

/* DONE: Create an animation that moves the box left and right.
Start with using "from" and "to". Now use "0%" and "100%" as your key frames.
Set more key frames between 0% and 100%. */

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-50px);
    }

    75% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}
.todo-1-container .box{
    animation: moveLeftRight 4s infinite;
    background-color: #606c38;
    color: white;
}

/* DONE: Try the different timing funcitons such as linear, ease-in, ease-in-out, cubic-bezier, and steps*/
.todo-2-container .box{
    background-color: #dda15e;
    color: white;
    animation: scaleUpDown 2s cubic-bezier(0.68, -0.55, 0.25, 2.00) infinite alternate;
}

/* Done: Create a transition that will raise the button up and will make it cast a shadow when you hover over the button */
/* bonus: apply the transition on the box shadow with different duration and timing function. This should all be in one line*/
.todo-3-container button{
    transition: transform 0.3s ease-out, box-shadow 0.5s linear;
}

.todo-3-container button:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 4px rgba (0, 0, 1, 0.4);
}
