.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* DONE: Define  Define and apply CSS styles such that the background of .change-styles changes to
a different color when the screen is smaller than 500px*/
.change-color {
  background-color: red;
}

@media (max-width: 500px) {
  .change-color {
    background-color: green;
  }
}

/* DONE: Define and apply CSS styles such that the layout of .change-layout becomes a column
when the screen's width is smaller than 500px */
.change-layout {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .change-layout{
    flex-direction: column;
  }
}

/* DONE: Define the common breakpoints for the following devices - phone, tablet, small screens (laptop), and large screens (desktops).
For each break point, the background of .common-breakpoints must change. You may not use two rules in one media query i.e. you cannot do "(min-width: 100) and (max-width: 200px)" 
*/
.common-breakpoints {
  width: 100%;
  height: 300px;
  background-color: blue;
}

@media(max-width: 767px) {
  .common-breakpoints {
    background-color: yellow;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .common-breakpoints {
    background-color: orange;
  }
}

@media (min-width: 1024px) and (max-width: 1430px) {
  .common-breakpoints {
    background-color: pink;
  }
}

@media (min-width: 1440px) {
  .common-breakpoints{
    background-color: purple;
  }
}